(
    gaps:14,
    keybindings: [
        (modifiers:[Alt],key:"t",action:Run(env:[],command:"alacritty")),
        (modifiers:[Alt],key:"g",action:Run(env:[("WGPU_BACKEND","vulkan")],command:"onagre")),
        (modifiers:[Alt],key:"a",action:Close),(modifiers:[Alt],key:"v",action:LayoutVertical),
        (modifiers:[Alt],key:"d",action:LayoutHorizontal),
        (modifiers:[Ctrl,Shift],key:"space",action:ToggleFloating),
        (modifiers:[Alt],key:"k",action:MoveFocusUp),
        (modifiers:[Alt],key:"h",action:MoveFocusLeft),
        (modifiers:[Alt],key:"l",action:MoveFocusRight),
        (modifiers:[Alt],key:"j",action:MoveFocusDown),
        (modifiers:[Alt],key:"k",action:MoveFocusUp)
    ]
)
